* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Elenco variabili */
:root {
    --background-black: black;
    --text-white: white;
}


/* ------------------------------------------------------------- */


.header {
    background-color: var(--background-black);
}



.main-content__hgroup,
.books {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
}

section .full-1320 {
    max-width:1320px;
    background-color: red;
}

.header__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px; 
    padding-bottom: 20px;
}

.header-logo {
    width: 120px;
    height: auto%;
}

.header__inner nav{
    width: 100%;
}

.header__inner nav ul {
    display: flex;
    gap: 44px;
    padding-left: 0px;
    padding: 5px 0px;
    justify-content: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    border-top: 1px dotted rgba(255, 255, 255, 0.15);



}

.header__inner nav ul li {
    list-style: none;
    transition: transform .6s;

}

.header__inner nav ul li a {
    color: var(--text-white);
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;

}

.header__inner nav ul li:hover {
    transform: scale(1.1);
}

.menu-toggle {
    background: transparent;
    appearance: none;
    border: 0;
    color: white;
}

.menu-toggle svg {
    width: 24px;
    height: 24px;
}







/* Main section full --------------------------------- */

.main__section-full {
    display: flex;
    width: 100%;
    background-color: var(--background-black);
    color: var(--text-white);
}

.full__reverse{
    flex-direction: row-reverse;
}

.main__section-full img {
    width: 50%;
    object-fit: contain;
}

.main__section-full div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-size: 1.3rem;
    font-weight: 300;
    gap: 20px;
    max-width: 600px ;
}

.main__section-full p {
    margin: 0;
}

.main__section-full p:last-child {
    margin-left: auto;
    color: var(--background-black);
    background-color: var(--text-white);
    transform: skewX(-8deg);
    /* font-style: italic; */
    padding: 0px 10px;
    width: fit-content;
    font-weight: 400;
    font-size: 1.2rem;
}


/* Main content --------------------------------- */

.main-content__hgroup{
    /* border: 1px solid red; */
    margin-top: 50px;
    margin-bottom: 50px;
}

.main-content h1 {
    font-size: 1.8rem;
    font-family: 'Lora', sans-serif;
    font-weight: 200;
    margin: 0px;

}

.main-content p {
    font-weight: 300;
    font-size: 1.2rem;
}


/* Main books --------------------------------- */

.main-books-cover{
    display: flex;
    max-width: 100%;
    /* flex-wrap: wrap; */
}

/* .main-books-cover__image{
    /* max-width: 180px;} */


.main-books-cover__image img{
    width: 100%;
    height: 100%;

}

/* Main - Section - Books --------------------------------- */

/* .grid{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.grid-item {
    border: 1px solid red;
    height: 50px;
} */



.books-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding-left: 0;


}

.book-card {
    display: flex;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 20px;
}

.book-card__image {
    width: 100%;
    /* background-color: bisque; */
}

.book-card__image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.book-card__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

.book-card__text h2 {
    margin: 0;
}

.book-card__meta {
    margin-bottom: auto;
}

.book-card__meta-item span:first-child {
    font-weight: 600;
}

button {
    appearance: none;
    border: 0;
    /* background-color: var(--background-black); */
    width: fit-content;
    padding: 10px 20px;
    border-radius: 2px;
}

button a {
    color: black;
    text-decoration: none;
}

/* .books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style: none;
    padding-left: 0;
    gap: 20px;
    font-family: 'Playfair Display', sans-serif;
}

.book-card {
    border: 1px solid rebeccapurple;
    display: flex;
    gap: 20px;
    height: 100%;

}

.book-card__image {
    padding: 0;
    margin: 0px;
    max-height: 389.5px;
    height: 100%;
}

.book-card__image img {
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 200px;
    object-fit: contain;
}

.book-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.book-card__meta-item span:first-child {
    font-weight: 600;
}

button {
    appearance: none;
    border: 0;
    background-color: var(--background-black);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 2px;
}

button a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.book-card__text h2 {
    margin: 0;
} */



/* Footer --------------------------------- */

.footer-main{
    background-color: black;
    height: 300px;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.footer-main__github{
    display: flex;
    color: white;
    justify-content: center;
    gap: 5px;
    font-size: 0.9rem;
}

.footer-main .header-logo{
    width: 150px;
}

.footer-main__github img{
    height: 18px;
}


/* ------------------------------------------- */

@media (max-width:720px) {
    .main__section-full {
        flex-direction: column-reverse;
    }

    .main__section-full div {
        width: 100%;
        font-size: 1.2rem;
        padding: 30px 15px;
    }

    .main__section-full img {
        width: 100%;
    }

    .header-logo {
        width: 100px;
    }

    .header__inner nav {
        display: none
    }

    .books-grid {
        justify-items: center;
        padding-left: 0;
        grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));


    }

    .book-card {
        flex-direction: column-reverse;
        /* border: 1px solid red; */
        max-width: 400px;
    }

}


@media (max-width:950px) {
    .main__section-full {
        flex-direction: column-reverse;
    }

    .main__section-full img {
        width: 100%;
    }

    .main__section-full div {
        width: 100%;
        /* font-size: 1.2rem; */
        padding: 30px 15px;
    }

}

@media (min-width:720px) {
    .menu-toggle {
        display: none;
    }


}